/* intuitivnější box-sizing */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
	font-family: sans-serif;
}

.sloupec {
	padding: 20px;
}

.hlavicka	{ background-color: #2ecc71; }
.hlavni		{ background-color: #f1c40f; }
.levy			{ background-color: #3498db; }
.pravy		{ background-color: #e74c3c; }
.paticka	{ background-color: #9b59b6; }

/* ---------------------------------------------------- */

@media (min-width: 800px) {
	.kontejner {
		display: grid;
		grid-template-columns: 200px 1fr 250px;
		grid-template-rows: 200px 1fr 100px;
		gap: 20px;
	}

	.hlavicka {
		grid-area: 1 / span 3;
	}

	.levy {
		grid-area: 2 / 1;
	}

	.paticka {
		grid-area: -2 / span 3;
	}
}